
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <img src="~/images/logo.png" class="logo" alt="logo" />

    <input type="button" value="Click on ME" class="btn btn-danger" />

    <h1>Welcome to my store</h1>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>